services:
  redis:
    image: redis:latest
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
  
  assistant:
    build:
      context: .
      dockerfile: Dockerfile

volumes:
  redis_data: